header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Hoặc màu bạn muốn */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Để tạo bóng cho header */
    z-index: 1000; /* Đảm bảo header nằm trên cùng */
  }
main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
  }
  
  main::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/nenlogin.svg");
    background-position: center;
    background-size: cover;
  }
  
  .wrapper {
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .input-field {
    position: relative;
    border-bottom: 2px solid #ccc;
    margin: 15px 0;
  }
  
  .input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
  }
  
  .input-field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    transition: border-color 0.3s ease;
  }
  
  .input-field input:focus {
    border-bottom: 2px solid #007bff;
  }
  
  .input-field input:focus~label,
  .input-field input:valid~label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
  }
  
  .forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: #fff;
  }
  
  #remember {
    accent-color: #fff;
  }
  
  .forget label {
    display: flex;
    align-items: center;
  }
  
  .forget label p {
    margin-left: 8px;
  }
  
  .wrapper a {
    color: #efefef;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .wrapper a:hover {
    color: #007bff;
    text-decoration: underline;
  }
  
  button {
    background: #007bff;
    color: white;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
  }
  
  button:hover {
    background: #0056b3;
    border-color: #0056b3;
  }
  
  .register {
    text-align: center;
    margin-top: 30px;
    color: #fff;
  }

  .register p{
    color: #fff;
  }
  
  @media (max-width: 768px) {
    main::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("/images/back_login1.svg"), #000;
      background-position: center;
      background-size: cover;
    }
  
    .wrapper {
      width: 90%;
      padding: 20px;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    .input-field input {
      font-size: 14px;
    }
  
    button {
      font-size: 14px;
      padding: 10px 18px;
    }
  }
  
  .agree{
    padding: 5px 0px;
  }